*.manifest
*.tlog
*.idb
*.unsuccessfulbuild
*.lastbuildstate
*.res
*.sdf
*.ipch
*.opensdf
*.rc
reformulation/reformulation/dictionnary.txt
*~
clex*
*.o
*.kdev4
build
reformulation/reformulation/reformulation
